---
layout: default
---

<div class="container">
  <!-- begin author -->
  <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
    <div class="author__inner">
  <img src="{{site.baseurl}}{{site.author.image}}" alt="{{site.author.name}}" class="author__img">
      <h1 class="author__job">{{ site.author.job }}</h1>
      <p class="author__bio">{{ site.author.bio }}</p>      
      <div class="author__more">
        <a href="https://shashirajpandey.github.io/pdfs/CV.pdf" target="_blank" class="say-hello">CV</a>
        <a href="https://scholar.google.com/citations?hl=en&user=yFmz36AAAAAJ&view_op=list_works&sortby=pubdate" class="say-hello">Google Scholar</a>
        <a href="{{site.baseurl}}/about/" class="know-more">Know more about me</a>
      </div>
    </div>
  </section>
  <!-- end author -->
</div>

<div class="container">
   <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="1000"> 
  <li>Our first child, Aadya, was born. Feb 12, 2024.</i></li>
  <li>Joined as an Editor for IEEE Transactions on Machine Learning in Communciations and Networking </i></li>     
  <li>Served as EU SNS Project Expert Reviewer</i></li>    
  <li>DFF1 project <a href="https://dff.dk/forskningsprojekter?period%3Alist=axdvgxo4ds&instrument%3Alist=r7sp31l4c2&filed_method%3Alist=all&SearchableText=Netml&fbclid=IwY2xjawGFmPJleHRuA2FlbQIxMQABHSdR6XrCzh5SLLivZXjdUkwjpLRbOs_8RFAy1MQF9nCsLw2JnXCoEuSfpA_aem_EoTYDvYqBNY8k2jyQ7LFcA&sfnsn=wa" target="_blank">"NETML"</a> got funded. One PhD scholarship is available.</li> 
  <li>Invited to serve as a Reviewer for NeurIPS 2025.</i></li>  
  <li>Invited to serve as a Program Committee for ICLR 2025.</i></li>    
  <li>Invited to serve as a Program Committee for AAAI 2025.</i></li>
  <li>Invited to serve as a Reviewer for ICML 2024.</i></li>
  <li>Invited to serve as a Reviewer for ICLR 2024.</i></li>	
  <li>HORIZON-JU-SNS: <b>6G-GOALS</b> and <b>6G-XCEL</b>[EU-US partnership] got funded.</i></li> 
  <li>Invited to serve as a Reviewer for NeurIPS 2023.</i></li>	
  </section>
</div>

<!--<div class="container">
   <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="1000">
   <h2 align="left"> <font color="darkmagenta">Updates</font></h2>
   <li>[8.22.2023] Invited to serve as a TPC member at IEEE GLOBECOM'23 - Workshop on Semantic Communication for 6G (SC6G), Malaysia. </i></li>   
   <li>[7.4.2023] Invited to serve as a TPC member at VTC2023-Fall: Hong Kong. "Machine Learning and AI for Communications". </i></li>   
   <li>[6.17.2023] <a href="https://ubicomp.oulu.fi/ubiss2023/workshops-instructors#WB" target="_blank">"UBISS 2023:"</a> successful UBICOMP 2023 Summer School, Oulu, Finland!</li>	 
   <li>[5.26.2023] Gave a talk titled "Value-of-Information (VoI) in Trajectory Estimation for Digital Twins" at "<a https://www.mp.aau.dk/aalborg-robotics-challenge-kick-off-meeting-e76458" target="_blank">Aalborg Robotic Challenge (ARC),</a> Aalborg. Danish Data Science Academy (DDSA).</li>  
   <li>[4.10.2023] Invited to serve as a Reviewer for NeurIPS 2023!</i></li>	
   <li>[4.20.2023] <a href="https://ieeexplore.ieee.org/document/10093073" target="_blank">"Federated Learning with NOMA Assisted by Multiple Intelligent Reflecting Surfaces: Latency Minimizing Optimization and Auction"</a> accepted in IEEE TVT.</li>
    <li>[4.6.2023] Gave a talk titled "Intelligent Resource Slicing for eMBB-URLLC Coexistence in 5G" in "<a href="https://cipn.ku.edu.np/?page_id=248" target="_blank">CIP-N 2023 </a>, Kathmandu University, Dhulikhel, Nepal.</li> 
   <li>[4.3.2023] <a href="https://arxiv.org/abs/2301.10962" target="_blank">"Scheduling Policy for Value-of-Information (VoI) in Trajectory Estimation for Digital Twins."</a> accepted in IEEE COMML.</li>	
   <li>[3.11.2023] <a href="https://arxiv.org/abs/2206.06650" target="_blank">"Semi-Private Computation of Data Similarity with Controlled Leakage."</a> accepted in IEEE TIFS.</li>
  </section>
   </div>-->

<div class="container">
  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
    <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
      {% if post.image %}
      <div class="article__image-box">
        <a href="{{post.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
      </div>
      {% endif %}
      <div class="article__content">
        <h2 class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
        </h2>
        <div class="article__meta">
          <span class="article__date">Published <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
        </div>
        <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 130 }}{% endif %}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read the rest</a>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
